{% extends 'base.html.twig' %}
{% block title %}Przypomnij hasło{% endblock %}

{% block body %}
    <h3>Przyponij hasło:</h3>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button class="btn">Przypomnij</button>
    {{ form_end(form) }}
{% endblock %}