{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} {% endblock %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
    <h2>{% trans %}ingredients{% endtrans %}</h2>
    <ul>
    {% for ingredient in recipe.recipyIngradients %}
        <li>{{ ingredient.ingradient.name }}</li>
    {% endfor %}
    </ul>
    <p>{{ recipe.description }}</p>
{% endblock %}