{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block body %}
    <h1>Homepage User</h1>

    <h2>{% trans %}change_password{% endtrans %}</h2>
    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.plainPassword) }}
    <button class="btn">{% trans %}change_password{% endtrans %}</button>
    {{ form_end(changePasswordForm) }}

{% endblock %}